<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Centered Card</title>
  <link rel="stylesheet" href="/css/aboutUs.css">
</head>
<body>
    <!-- Header -->
    <header class="header">
        <div class="container">
            <nav class="nav">
                <a class="logo">
                    <svg class="logo-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">


                        <!-- custom design path -->
                        <path d="M11 20A7 7 0 0 1 9.8 6.1C15.5 5 17 4.48 19 2c1 2 2 4.18 2 8 0 5.5-4.78 10-10 10Z"/>
                        <path d="M2 21c0-3 1.85-5.36 5.08-6C9.5 14.52 12 13 13 12"/>



                    </svg>
                    <span class="logo-text">Planta</span>
                </a>
                <div class="nav-links">
                    <!-- href thakle mouse pointer hoi -->
                    <a href="/home" style="font-weight: bold; color: #16a34a;">Home</a>
                    <a href="/marketPlace">Marketplace</a>
                    <a href="/tutorial">Tutorials</a>
                    <a href="/weather">Weather</a>
                    <a href="/blog">Blog</a>
                    <a href="/agridoc">AgriDoctor</a>
                </div>
                <div class="nav-buttons">
                </div>
            </nav>
        </div>
    </header>
    <div id="bodyCard" class = "bodyCard">
                <div class="card">
                    <h1 class="card-title">🔒 Privacy & Policy – Planta</h1>
                    <br><br>
                    <p class="card-desc">
                        
                        At Planta, we value your privacy. We collect basic information like name, email, location, and any images or content you upload (for disease detection, blogs, etc.). This helps us offer personalized services such as AI-based plant diagnosis, weather updates, and a better marketplace experience.

                        We do not share or sell your data to third parties. Your information is securely stored and used only to improve your experience.

                        You have full control over your data — you can access, update, or request deletion anytime.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>